<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

   <servers>
     <server>
       <id>nexus-snapshots</id>
       <username>admin</username>
       <password>admin123</password>
     </server>
     <server>
       <id>nexus-releases</id>
       <username>admin</username>
       <password>admin123</password>
     </server>
   </servers>

   <mirrors>
     <mirror>
       <id>central</id>
       <name>central</name>
       <url>maven-group</url>
       <mirrorOf>*</mirrorOf>
     </mirror>
   </mirrors>

</settings>
